.example-spacer {
  flex: 1 1 auto;
}

#dropdown-navbar {
  order: 2;
}

.mat-toolbar {
  justify-content: center;
}

.mat-toolbar-row {
  height: 64px;
}

#logo {
  height: 90%;
  width: auto;
  justify-content: left;

}
